<!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" [(ngModel)]="e"></ckeditor> -->
<!-- <ckeditor type="inline" [editor]="Editor" data="<p>Hello, world!</p>" [(ngModel)]="e"></ckeditor>
<app-test [e]="e" ></app-test>


<ckeditor [(ngModel)]="model.editorData" [editor]="Editor"></ckeditor>

{{model.editorData }} -->

<ckeditor [(ngModel)]="model.editorData" [editor]="editor" (ready)="onReady($event)"></ckeditor>

{{model.editorData }}

<div [innerHTML]="model.editorData "></div>




<ckeditor [editor]="editor" [data]="data" (ready)="onReady($event)"></ckeditor>

